In [1]:
#!pip3 install snscrape

In [6]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [7]:
# Création d'une liste pour ajouter les données de tweets
liste_tweets = []

# Utilisation de TwitterSearchScraper pour récupérer les données et ajouter les tweets à la listefor i,tweet in enumerate(sntwitter.TwitterSearchScraper('the Art of War since:2022-06-01 until:2023-01-01').get_items()):
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('the Art of War since:2022-06-01 until:2023-01-01').get_items()):
    if i>1000:
        break
    liste_tweets.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
 
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('The song of Achille since:2022-06-01 until:2023-01-01').get_items()):
    if i>1000:
        break
    liste_tweets.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('Batman : the Dark Night Return since:2022-06-01 until:2023-01-01').get_items()):
    if i>1000:
        break    
    liste_tweets.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('The Picture of Dorian Gray since:2022-06-01 until:2023-01-01').get_items()):
    if i>1000:
        break
    liste_tweets.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('The Book Thief since:2022-06-01 until:2023-01-01').get_items()):
    if i>1000:
        break
    liste_tweets.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Création d'un dataframe à partir de la liste de tweets ci-dessus

df_tweets = pd.DataFrame(liste_tweets, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])
df_tweets

,Datetime,Tweet Id,Text,Username
0,2022-12-31 23:58:04+00:00,1609338127956545536,The Ultimate Art of War: A Step-by-Step Illust...,mosciski52ejffd
1,2022-12-31 23:57:58+00:00,1609338101343858690,they tried to play with my general tso's so i ...,a13george
2,2022-12-31 23:50:55+00:00,1609336328784576513,@truckdriverpleb Unfortunately that is a fact....,PeterRMacIsaac
3,2022-12-31 23:49:26+00:00,1609335954514366464,@lexfridman I read most of those and would rec...,levosaurus
4,2022-12-31 23:48:15+00:00,1609335659277291523,@lexfridman The art of war is going to change ...,BullstreetLLC
...,...,...,...,...
3133,2022-12-14 06:18:28+00:00,1602910877841297408,"Like most misery, it started with apparent hap...",Erum454
3134,2022-12-14 06:17:33+00:00,1602910646408204295,@palkisu @crmiller1 The book thief by Marcus Z...,vidhishiste
3135,2022-12-14 03:35:23+00:00,1602869837004349443,Do you struggle picking out what to read next?...,nemo_nista
3136,2022-12-14 03:11:12+00:00,1602863750653935617,"At this weekend, I plan to watch Crime Action ...",bingbingliucdc1
3137,2022-12-14 03:06:28+00:00,1602862560570920960,@she_is_ghariba Quran\nThe book thief\nTuesday...,__dontaskwhy__x

In [17]:
#nettoyage des données (utilisation de la librairie regex)
df_tweets['Text'] = df_tweets['Text'].str.replace(r"[A-Za-z.][0-9]+[A-Za-z%°.]", " ")
df_tweets['Text'] = df_tweets['Text'].str.replace(r"(\s-\s|-$)", " ")
df_tweets['Text'] = df_tweets['Text'].str.replace(r"[,!?%()/]", " ")
df_tweets['Text'] = df_tweets['Text'].str.replace(r"&\S*\s", " ")
df_tweets['Text'] = df_tweets['Text'].str.replace(r"&", " ")
df_tweets['Text'] = df_tweets['Text'].str.replace(r"+", " ")
df_tweets['Text'] = df_tweets['Text'].str.replace(r"#", " ")
df_tweets['Text'] = df_tweets['Text'].str.replace(r"$", " ")
df_tweets['Text'] = df_tweets['Text'].str.replace(r"£", " ")
df_tweets['Text'] = df_tweets['Text'].str.replace(r"%", " ")                                                  
df_tweets['Text'] = df_tweets['Text'].str.replace(r"@", " ")
df_tweets['Text'] = df_tweets['Text'].str.replace(r"-", " ")

df_tweets

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_13884\164596608.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_tweets['Text'] = df_tweets['Text'].str.replace(r"[A-Za-z.][0-9]+[A-Za-z%°.]", " ")

,Datetime,Tweet Id,Text,Username
0,2022-12-31 23:58:04+00:00,1609338127956545536,The Ultimate Art of War: A Step by Step Illust...,mosciski52ejffd
1,2022-12-31 23:57:58+00:00,1609338101343858690,they tried to play with my general tso's so i ...,a13george
2,2022-12-31 23:50:55+00:00,1609336328784576513,truckdriverpleb Unfortunately that is a fact....,PeterRMacIsaac
3,2022-12-31 23:49:26+00:00,1609335954514366464,lexfridman I read most of those and would rec...,levosaurus
4,2022-12-31 23:48:15+00:00,1609335659277291523,lexfridman The art of war is going to change ...,BullstreetLLC
...,...,...,...,...
3133,2022-12-14 06:18:28+00:00,1602910877841297408,Like most misery it started with apparent hap...,Erum454
3134,2022-12-14 06:17:33+00:00,1602910646408204295,palkisu crmiller1 The book thief by Marcus Z...,vidhishiste
3135,2022-12-14 03:35:23+00:00,1602869837004349443,Do you struggle picking out what to read next ...,nemo_nista
3136,2022-12-14 03:11:12+00:00,1602863750653935617,At this weekend I plan to watch Crime Action ...,bingbingliucdc1
3137,2022-12-14 03:06:28+00:00,1602862560570920960,she_is_ghariba Quran\nThe book thief\nTuesday...,__dontaskwhy__x

In [18]:
# transformation du dataframe en CSV
df_tweets.to_csv('tweets.csv', index=False)